<svg [attr.width]="width" [attr.height]="height">
  <svg:g transform="translate(40,0)">
    <ng-template ngFor let-node [ngForOf]="nodes | async">
      <ng-template ngFor let-cnode [ngForOf]="node.children">
        <svg:g graph-edge [x2]="node.x" [y2]="node.y" [x1]="cnode.x" [y1]="cnode.y"></svg:g>
      </ng-template>
      <svg:g graph-node [x]="node.x" [y]="node.y"></svg:g>
    </ng-template>
  </svg:g>
</svg>
